VOLC_REAL_PERSON_CALLBACK_BASE_URL=
VOLC_ACCESSKEY=
VOLC_SECRETKEY=
VOLC_VIRTUAL_PORTTRAIT_PROJECT_NAME=
CONTENT_PUBLIC_BASE_URL=
# 模型api key配置
OPENAI_API_KEY=
# 模型基础 URL
OPENAI_BASE_URL=
# 视频理解模型
ARK_VIDEO_MODEL=
VOLCENGINE_TOS_REGION=
VOLCENGINE_TOS_ENDPOINT=
VOLCENGINE_TOS_BUCKET=
VOLCENGINE_TOS_PUBLIC_BASE_URL=
VOLCENGINE_TOS_KEY_PREFIX=
VOLCENGINE_TOS_URL_EXPIRES_SECONDS=