ai-worker:  # 多抖音账号Cookie，用英文逗号分隔
DOUYIN_COOKIES=

# 服务端口
SERVICE_PORT=7075

# 请求超时
REQUEST_TIMEOUT=15

# 视频点播
# 视频点播空间名称
VOLCENGINE_VOD_SPACE_NAME =

# 密钥获取地址：https://console.volcengine.com/iam/keymanage
# 视频点播访问密钥ID
VOLCENGINE_ACCESS_KEY_ID=
VOLCENGINE_SECRET_ACCESS_KEY=

# 视频点播在线推理id
# 获取地址：https://console.volcengine.com/ark/region:ark+cn-beijing/endpoint
VOLCENGINE_VOD_DOUBAO_ENDPOINT=

# 视频点播语音识别应用id
# 获取地址：https://console.volcengine.com/speech/app
VOLCENGINE_VOD_ASR_APP_ID=
# 视频点播语音识别应用类型
VOLCENGINE_VOD_ASR_APP_TYPE=